:root{
    --abyss: #091A2B;
}
body{
    background-color: var(--abyss);
    color: whitesmoke;
}

div.test > *{
    background-color: whitesmoke;
    color: var(--abyss);
    text-align: center;
}

h1 {
    color: turquoise;
}