:root{
    --abyss: #091A2B;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url(LinLibertine_aDRS.ttf);
}

body{
    background-color: var(--abyss);
    color: whitesmoke;
    font-family: sans-serif;
}

div.test > *{
    background-color: whitesmoke;
    color: var(--abyss);
    text-align: center;
}

#title {
    border-bottom: turquoise;
}

h1 {
    color: turquoise;
    font-family: 'Linux Libertine', serif;
    font-size: 25pt;
}

h2 {
    color: turquoise;
    font-family: sans-serif;
    font-size: 16pt;
}

a {
    color: cadetblue;
}

.image {
    border: 1px solid turquoise;
    padding: 3px;
    text-align: center;
    clear: right;
    float: right;
    margin: 1em;
}

table{
    border: 1px solid turquoise;
    clear: right;
    float: right;
    margin: 1em;
    padding: 0.2em;
    width: 22em;
}

th, td {
    text-align: left;
}

tr.section_titles > th {
    background-color: turquoise;
    color: black;
    text-align: center;
}

.center {
    text-align: center;
}

article {
    margin-top: -1px;
    border: 1px solid turquoise;
    margin-left: 11em;
    padding-left: 1em;
    padding-right: 1em;
}

nav {
    margin-left: 11em;
}

nav > span {
    border-left: 1px solid turquoise;
    border-right: 1px solid turquoise;
    padding-left: 5px;
    padding-right: 5px;
}

nav > span.active {
    background-color: #091A2B;
}

aside {
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
}

footer {
    
    bottom: 0;
    display: static;
}
